@{
    ViewBag.Title = "UpdateUser - Homii";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var User = EscalateSession.CurrentUser;
           

}

<div class="container">
    <div class="card bg-gray mt-5 mb-5">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <h2 class="white-nowrap" id="exampleModalLabel">Update User</h2>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form class="p-0" id="Registers-Form" data-parsley-validate>
                <div class="row editprofile m_-10">
                    <div class="col-md-6 p_10">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" id="FirstName" class="form-control InputValidation">
                        </div>
                    </div>
                    <div class="col-md-6 p_10">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" id="LastName" class="form-control InputValidation">
                        </div>
                    </div>
                    @*<div class="col-md-6 p_10">
                            <div class="form-group">
                                <label>Type</label>
                                @*<input type="text" class="form-control" id="AccountTypeID" value="Type">*-@
                                <select class="form-control" id="AccountTypeID" onchange="ClearBorder()">
                                    <option value="0">Please select</option>
                                </select>
                            </div>
                        </div>*@

                    <div class="col-md-6 p_10">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control InputValidation" disabled id="Email" data-parsley-type="email" required>

                        </div>
                    </div>

                    @*<div class="col-md-6 p_10">
                            <div class="form-group">
                                <label>City</label>
                                @*<input type="text" class="form-control" value="$100">*-@
                                <select class="form-control kt-select2" id="CityEdit" name="param" onchange="ClearBorder()">
                                    <option value="0">Please select</option>
                                </select>
                            </div>
                        </div>*@
                    <div class="col-md-6 p_10">
                        <div class="form-group">
                            <label>Postal Code</label>
                            <input type="text" class="form-control InputValidation" id="PostalCode" data-parsley-required="true">
                        </div>
                    </div>
                    <div class="col-md-6 p_10">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control InputValidation" id="PhoneNumber">
                        </div>
                    </div>
                    <div class="col-md-6 p_10">
                        <div class="form-group isactives">
                            <label>Is Active</label>
                            @*<input type="checkbox" class="form-control InputValidation" id="IsActive">*@
                            <input type="checkbox" id="IsActive">
                            <label for="IsActive"></label>
                        </div>
                    </div>
                    @if (User.AccountTypeID == 2)
                    {
                        <div class="col-md-6 p_10">
                            <div class="form-group">
                                <label>Company Name</label>
                                <input type="text" class="form-control InputValidation" id="CompanyName" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="col-md-6 p_10">
                            <div class="form-group">
                                <label>Business Phone Number</label>
                                <input type="number" class="form-control InputValidation" id="BusinessPhoneNumber">
                            </div>
                        </div>
                        <div class="col-md-6 p_10">
                            <div class="form-group">
                                <label>Business Address</label>
                                <input type="text" class="form-control InputValidation" id="BusinessAddress" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="col-md-6 p_10">
                            <div class="form-group">
                                <label>Number Of Employee</label>
                                <input type="text" class="form-control InputValidation" id="NumberOfEmployee">
                            </div>
                        </div>
                        <div class="col-md-6 p_10">
                            <div class="form-group">
                                <label>Business Address</label>
                                <input type="text" class="form-control InputValidation" id="BusinessAddress" data-parsley-required="true">
                                <select class="form-control kt-select2" id="LegalStructure">
                                    <option value="">Please select</option>
                                    <option value="Sole Proprietor">Sole Proprietor</option>
                                    <option value="Partnership">Partnership</option>
                                    <option value="Incorporated">Incorporated</option>
                                    <option value="Limited Partnership">Limited Partnership</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 p_10">
                            <div class="form-group">
                                <label>In Business Since</label>
                                <input type="text" class="form-control InputValidation" id="InBusinessSince">
                            </div>
                        </div>


                    }
                    <div class="col-md-12 text-right mb-5">
                        <button type="button"  class="btn btn-primary btn-custom" onclick='window.location = "@Url.Action("Index", "UsersDetails")";'>Back</button>
                        <button type="button" class="btn btn-primary btn-custom" id="btnSave">Update</button>
                    </div>
                </div>
            </form>
            
            <div class="card-footer text-right ContractorAccRole" style="display:none">
                <button type="button" class="btn btn-black btn-custom" onclick="ContractorProfilePage()" id=""> Company Profile</button>
            </div>
           
        </div>
    </div>
    
                 <div class="row align-items-end ContractorAccRole" style="display:none">
                    <div class="col-lg-3">
                        <div class="main-HD">
                            <h1>Select Category</h1>
                        </div>
                    </div>

                </div>
                 <div class="row ContractorAccRole" style="display:none">
                     <div class="col-sm-12">
                         <div class="custom-table">
                             <div class="table-responsive">
                                 <table class="table" id="example">
                                     <thead class="thead-dark">
                                         <tr>
                                             <th scope="col">Category</th>
                                             <th scope="col">Charges</th>                                            
                                             <th scope="col" class="th-width-3">Action</th>
                                         </tr>
                                     </thead>
                                 </table>
                             </div>

                         </div>
                     </div>
                 </div>
    <div class="row align-items-end ContractorAccRole" style="display:none">
        <div class="col-lg-3">
            <div class="main-HD">
                <h1>Select City</h1>
            </div>
        </div>

    </div>
    <div class="row ContractorAccRole" style="display:none">
        <div class="col-sm-12">
            <div class="custom-table">
                <div class="table-responsive">
                    <table class="table" id="example">
                        <thead class="thead-dark">
                            <tr>
                                
                                <th scope="col">City</th>  
                                <th scope="col">Charges</th>                                
                                <th scope="col" class="th-width-3">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>

           


            </div>
    @*<div class="container">
        <div class="row m_-10 editprofile">
            <div class="col-md-12">
                <h5 class="modal-title user-updates"></h5>
            </div>

            
        </div>
    </div>*@


    @*<button type="button" id="btnSave" class="btn btn-secondary">Update</button>*@











@* 06 MArch 2020 *@

@*<form id="Registers-Form" data-parsley-validate>
    <div class="container">
        <div class="row m_-10 editprofile">
            <div class="col-md-12">
                <h5 class="modal-title user-updates" id="exampleModalLabel">Update User</h5>
            </div>

            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" id="FirstName" class="form-control InputValidation" onkeyup="ClearBorder()">
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" id="LastName" class="form-control InputValidation" onkeyup="ClearBorder()">
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Type</label>
                    @*<input type="text" class="form-control" id="AccountTypeID" value="Type">*--@
                    <select class="form-control" id="AccountTypeID" onchange="ClearBorder()">
                        <option value="0">Please select</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control InputValidation" id="Email" data-parsley-type="email" required onkeyup="ClearBorder()">

                </div>
            </div>

            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>City</label>
                    @*<input type="text" class="form-control" value="$100">*-@
                    <select class="form-control kt-select2" id="CityEdit" name="param" onchange="ClearBorder()">
                        <option value="0">Please select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Postal Code</label>
                    <input type="text" class="form-control InputValidation" id="PostalCode" data-parsley-required="true" onkeyup="ClearBorder()">
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control InputValidation" id="PhoneNumber" onkeyup="ClearBorder()">
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group isactives">
                    <label>Is Active</label>
                    @*<input type="checkbox" class="form-control InputValidation" id="IsActive">*-@
                    <input type="checkbox" id="IsActive">
                    <label for="IsActive"></label>
                </div>
            </div>
            @if (User.AccountTypeID == 2)
            {
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" class="form-control InputValidation" id="CompanyName" data-parsley-required="true">
                    </div>
                </div>
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>Business Phone Number</label>
                        <input type="number" class="form-control InputValidation" id="BusinessPhoneNumber">
                    </div>
                </div>
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>Business Address</label>
                        <input type="text" class="form-control InputValidation" id="BusinessAddress" data-parsley-required="true">
                    </div>
                </div>
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>Number Of Employee</label>
                        <input type="text" class="form-control InputValidation" id="NumberOfEmployee">
                    </div>
                </div>
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>Business Address</label>
                        <input type="text" class="form-control InputValidation" id="BusinessAddress" data-parsley-required="true">
                        <select class="form-control kt-select2" id="LegalStructure">
                            <option value="">Please select</option>
                            <option value="Sole Proprietor">Sole Proprietor</option>
                            <option value="Partnership">Partnership</option>
                            <option value="Incorporated">Incorporated</option>
                            <option value="Limited Partnership">Limited Partnership</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>In Business Since</label>
                        <input type="text" class="form-control InputValidation" id="InBusinessSince">
                    </div>
                </div>


            }
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-custom" id="btnSave">Update</button>
            </div>
        </div>
    </div>


    @*<button type="button" id="btnSave" class="btn btn-secondary">Update</button>*-@
</form>*@



@* 04 MArch 2020 *@

@*<form id="Registers-Form" data-parsley-validate>
    <div class="container">
        <div class="row m_-10 editprofile">
            <div class="col-md-12">
                <h5 class="modal-title user-updates" id="exampleModalLabel">Update User</h5>
            </div>
           
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" id="FirstName" class="form-control InputValidation" onkeyup="ClearBorder()">
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" id="LastName" class="form-control InputValidation" onkeyup="ClearBorder()">
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Type</label>
                    @*<input type="text" class="form-control" id="AccountTypeID"  value="Type">*-@
                    <select class="form-control" id="AccountTypeID" onchange="ClearBorder()">
                        <option value="0">Please select</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control InputValidation" id="Email" data-parsley-type="email" onkeyup="ClearBorder()">
                </div>
            </div>

            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>City</label>
                    @*<input type="text" class="form-control" value="$100">*-@
                    <select class="form-control kt-select2" id="CityEdit" name="param" onchange="ClearBorder()"> 
                        <option value="0">Please select</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Postal Code</label>
                    <input type="text" class="form-control InputValidation" id="PostalCode" data-parsley-required="true" onkeyup="ClearBorder()">
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group">
                    <label>Phone Number</label>
                    @*<input type="text" class="form-control InputValidation" id="PhoneNumber" onkeyup="ClearBorder()">*-@
                    <input type="number" id="PhoneNumber"  class="form-control InputValidation" onchange="ClearBorder()" min=0 oninput="validity.valid || (value = '');" onkeyup="ClearBorder()"/>
                </div>
            </div>
            <div class="col-md-6 p_10">
                <div class="form-group isactives">
                    <label>Is Active</label>
                    @*<input type="checkbox" class="form-control InputValidation" id="IsActive">*-@
                    <input type="checkbox" id="IsActive">
                    <label for="IsActive"></label>
                </div>
            </div>
            @if (User.AccountTypeID == 2)
        {
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" class="form-control InputValidation" id="CompanyName" data-parsley-required="true">
                    </div>
                </div>
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>Business Phone Number</label>
                        <input type="number" class="form-control InputValidation" id="BusinessPhoneNumber">
                    </div>
                </div>
                <div class="col-md-6 p_10">
                    <div class="form-group">
                        <label>Business Address</label>
                        <input type="text" class="form-control InputValidation" id="BusinessAddress" data-parsley-required="true">
                    </div>
                </div>
                            <div class="col-md-6 p_10">
                                <div class="form-group">
                                    <label>Number Of Employee</label>
                                    <input type="text" class="form-control InputValidation" id="NumberOfEmployee">
                                </div>
                            </div>
                            <div class="col-md-6 p_10">
                                <div class="form-group">
                                    <label>Business Address</label>
                                    <input type="text" class="form-control InputValidation" id="BusinessAddress" data-parsley-required="true">
                                    <select class="form-control kt-select2" id="LegalStructure">
                                        <option value="">Please select</option>
                                        <option value="Sole Proprietor">Sole Proprietor</option>
                                        <option value="Partnership">Partnership</option>
                                        <option value="Incorporated">Incorporated</option>
                                        <option value="Limited Partnership">Limited Partnership</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 p_10">
                                <div class="form-group">
                                    <label>In Business Since</label>
                                    <input type="text" class="form-control InputValidation" id="InBusinessSince">
                                </div>
                            </div>
                         

        }
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-custom" id="btnSave">Update</button>
            </div>
        </div>
    </div>


    @*<button type="button" id="btnSave" class="btn btn-secondary">Update</button>*-@
</form>*@











@section FooterScripts{

    <script src="~/scripts/PageJS/UserUpdate.js"></script>

}






































